.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 16px;
}

.education {
    height: 64px;
    width: 64px;
    color: var(--primary);
}

.heading {
    @include font-title-medium;
    color: var(--on-surface);
    text-align: center;
}
.info {
    @include font-body-medium;
    color: var(--on-surface);
    text-align: center;
}