@use "swiper/css";
@use "swiper/css/pagination";

.schedule_list {
    padding: 0px 16px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding-bottom: 32px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.update {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    @include font-body-medium;
    color: var(--on-surface);

    &__date {
        @include font-label-large;
        color: var(--primary);
    }
}
