@use "swiper/css";
@use "swiper/css/pagination";

.schedule_list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}
