.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100% - 16px);
    min-height: 0;
    margin: 0 16px;
}

.swiper {
    flex: 1; // или конкретная высота, как у .client_list
    overflow: hidden;
}

.client_list {
    width: 100%;
    overflow-x: auto;

    &_empty {
        @include font-body-medium;
        color: var(--on-surface-variant);
        text-align: center;
    }

    &__item {
        @include font-body-large;
        color: var(--on-surface);
        border-radius: 12px;
        padding: 16px 16px;
        transition: all 200ms ease;

        &:active {
            background-color: var(--surface-variant);
        }
        &_hovered {
            background-color: var(--surface-variant);
        }
    }
}