.toast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 16px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.toast--enter {
    opacity: 1;
    transform: translateY(0);
}
.toast--exit {
    opacity: 0;
    transform: translateY(20px);
}

/* Modificators */
.toast--success {
    background-color: var(--primary-container);
    color: var(--on-primary-container);

    .toast__icon {
        color: var(--primary);
    }
}

.toast--error {
    background-color: var(--error-container);
    color: var(--on-error-container);

    .toast__icon {
        color: var(--error);
    }
}

.toast--info {
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);

    .toast__icon {
        color: var(--secondary);
    }
}

// Elements
.toast__message {
    @include font-title-small;
    flex: 1;
    margin: 0;
}

.toast__close {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 50%;
    color: var(--surface);
}
