.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.header {
    padding: 0px 16px;
}

.error {
    @include font-title-small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}