.main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    width: 100%;
}

.client_list {
    overflow-x: auto;

    &_empty {
        @include font-body-medium;
        color: var(--on-surface-variant);
        text-align: center;
    }

    &__item {
        @include font-body-large;
        color: var(--on-surface);
        border-radius: 12px;
        padding: 16px 16px;
        transition: all 200ms ease;

        &:active {
            background-color: var(--surface-variant);
        }
    }
}