@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-primary: 'Roboto', sans-serif;

@mixin font-title-large {
    font-family: $font-primary;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
}

@mixin font-title-medium {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

@mixin font-label-large {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

@mixin font-body-medium {
    font-family: $font-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}
