.tab_row {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 16px;

    &::-webkit-scrollbar {
        display: none;
    }

    &__tab {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        @include font-body-medium;
        padding: 12px 16px;
        border-radius: 8px;
        background-color: var(--surface-variant);

        color: var(--on-surface-variant);
        white-space: nowrap;

        transition: all 500ms ease;

        &_active {
            background-color: var(--primary);
            color: var(--on-primary);
        }

        & span {
            @include font-title-medium;
        }
    }
}
