.lesson {
    background-color: var(--surface-variant);
    padding: 16px;
    border-radius: 12px;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        @include font-label-large;
    }
    &__title {
        @include font-title-medium;
    }
    &__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font-label-large;

        &-group {
            display: flex;
            gap: 4px;
        }
        & span {
            padding: 6px 10px;
            border-radius: 8px;
        }
        &__primary {
            background-color: var(--primary);
            color: var(--on-primary);
        }
        &__secondary {
            background-color: var(--secondary);
            color: var(--on-secondary);
        }
        &__tertiary {
            background-color: var(--tertiary);
            color: var(--on-tertiary);
            cursor: pointer;
        }
    }

    &__divider {
        height: 1px;
        background-color: var(--outline-variant);
        margin: 8px 0;
    }
}
